::root{ 
    --accent: #5291e2;
    --dark:   #383C4A;
    --light:  #7C818C;
    --ld:     #404552;
    --dl:     #4B5162;
    --white:  white;
}

*{
  font-family: OldLondon;
}

window{
  background-color: transparent;
  font-size: 1.5rem;
}

#input {
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  border: 2px solid rgb(221, 187, 187);
  background-color: transparent;
  color: rgb(221, 187, 187);
  box-sizing: border-box;
}

#input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid rgb(221, 187, 187);
  box-sizing: border-box;
  background: rgb(221, 187, 187);
  color: rgba(70, 10, 10, 0.8);
}

#inner-box {
  background-color: transparent;
  padding: 10px 10px;
}

#outer-box {
  padding: 10px 10px;
  background-color: rgba(70, 10, 10,0.8);
  border-radius: 10px;
  border: 3px solid rgb(221, 187, 187);
}

#text {
  padding: 5px;
}

#entry {
  color: rgb(221, 187, 187);
  border-bottom: 1px solid rgb(221, 187, 187);
  margin: 2px 0;
}

#entry:selected {
  background-color: rgb(221, 187, 187);
  color: rgba(70, 10, 10, 0.8);
  border-radius: 5px;
}

#text:selected {
  color: rgba(70, 10, 10, 0.8);
}

expander > list {
	background-color: rgba(70, 10, 10, 0.8);
	color: rgb(221, 187, 187);
}

#scroll {

}

#img {
}

